/*
Theme Name:     SAE Theme
Theme URI:      http://example.com/
Description:    My own Theme
Author:         Pascal Andres
Author URI:     http://example.com/about/
Version:        0.1.0
*/

* {
    font-family: sans-serif;
    font-size: 30px;
}

section.page {
    height: 50vh;
}

section#home {
    display: none;
}